
#keypads {
    background-color: #262626;
}

.logo {
    flex-grow: 1;
}

div.keypad {
    display: grid;
    margin: 0.5em 1.5em;
    justify-content: space-evenly;
}

div.keypad label {
    justify-self: center;
    margin-bottom: 0.5em;
}

button.keypad {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 0.5em;
    color: white;
    background-color: black;
    border: 1px white solid;
}
