
div.keypad {
    display: grid;
    margin: 0.5em 1.5em;
    justify-content: space-evenly;
}

div.keypad label {
    justify-self: center;
    margin-bottom: 0.5em;
}

button.keypad {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 0.5em;
    color: white;
    background-color: black;
    border: 1px white solid;
}

#keypad0r0c0::before {
    content: "";
}

#keypad0r0c1::before {
    content: "up";
}

#keypad0r0c2::before {
    content: "";
}

#keypad0r1c0::before {
    content: "left";
}

#keypad0r1c1::before {
    content: "ok";
}

#keypad0r1c2::before {
    content: "right";
}

#keypad0r2c0::before {
    content: "";
}

#keypad0r2c1::before {
    content: "down";
}

#keypad0r2c2::before {
    content: "";
}

#keypad0r3c0::before {
    content: "";
}

#keypad0r3c1::before {
    content: "";
}

#keypad0r3c2::before {
    content: "";
}


#keypad1r0c0::before {
    content: "";
}

#keypad1r0c1::before {
    content: "";
}

#keypad1r0c2::before {
    content: "";
}

#keypad1r1c0::before {
    content: "";
}

#keypad1r1c1::before {
    content: "";
}

#keypad1r1c2::before {
    content: "";
}

#keypad1r2c0::before {
    content: "";
}

#keypad1r2c1::before {
    content: "";
}

#keypad1r2c2::before {
    content: "";
}

#keypad1r3c0::before {
    content: "";
}

#keypad1r3c1::before {
    content: "";
}

#keypad1r3c2::before {
    content: "";
}
