
#stellerator-canvas {
  height: 600px;
  width: 800px;
  max-height: calc(100vh - 13rem);
  max-width: 100vw;
}

#console-controls {
  position: absolute;
}

#stellerator-keyboard {
  height: 300px;
  background-color: antiquewhite;
}

body {
  font-family: sans-serif;
  font-size: large;
  background-color: #000000;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 10px;
  background-color: #000000;
  border-color: #f4d410;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: solid;
}

.header_app_title {
  flex-grow: 1;
}

.header_menu_item {
  margin-left: 1em;
}

.header_menu_item:hover {
  margin-left: 1em;
  text-decoration: underline;
  cursor: pointer;
}

.header_menu_item input[type="file"] {
  display: none;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: #490a7f;
  border-color: #f4d410;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: solid;
  border-top: 0;
}

.console {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

#sidepanel {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
}

/* Console toggle switches */
.console_switch {
  width: 1em;
  height: 2.5em;
  position: relative;
  border: 1px solid;
  border-radius: 1em;
  vertical-align: text-bottom;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 1.0em;
}

.console_switch span {
  margin-left: 1.25em;
  margin-top: -0.125em;
  margin-bottom: -0.125em;
}

.console_switch label {
  position: absolute;
  top: 2.75em;
  left: 0;
  transform: translate(-1em, 0);
}

.console_switch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  width: 0.85em;
  height: 0.85em;
  margin: 0.125em 0;
  border: 1px solid;
  border-radius: 50%;
  color: inherit;
  background-color: white;
}

.console_switch.toggle::before {
  top: 1.475em;
}

.panel_links {
  transition: 0.3s;
  opacity: 50%;
}

.panel_links.active {
  text-decoration: bold;
  opacity: 100%;
}

.panel_links:hover {
  text-decoration: underline;
  cursor: pointer;
}

.panel_links_group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: .5em;
}

/* Style the panel content */
.panel_content {
  display: none;
  padding: 6px 12px;
  border: 2px solid;
  border-radius: 0px 10px 10px 10px;
  flex-grow: 1;
}

.panel_content.active {
  display: flex;
}

#ide {
  padding: 10px;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f4d410;
  border-radius: 10px;
}

.ide {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.ide_ops_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.125em;
}

.ide_ops_group div.row {
  border: 2px solid red;
  border-radius: 0.5em;
  padding: 0.125em;
}

.ide_ops_group label {
  color: red;
}

.ide_ops {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  max-width: 5em;
  cursor: pointer;
  background-color: #000000;
  align-content: center;
}

#eval {
  margin: 0.125em 0;
  background-color: red;
  border-color: black;
}

.ide_ops:hover {
  background-color: #e6e6e6;
}

/* Style the tab buttons */
.ide_links {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.ide_links.func_repl {
  background-color: #5d4287;
}

.ide_links.func_f {
  background-color: #40836a;
}

.ide_links.func_g {
  background-color: #86713f;
}
.ide_links.func_h {
  border-top-right-radius: 10px;
  background-color: #874845;
}

/* Change background color of buttons on hover */
.ide_links:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.ide_links.active {
  background-color: #ccc;
}

/* 791661 842712 */
/* Style the tab content */
.ide_content {
  display: none;
  padding: 6px 12px;
  border: 2px solid;
  border-radius: 0px 10px 10px 10px;
  background-color: #ffffff;
  color: #000000;
  flex-grow: 1;
}

.ide_content.active {
  display: flex;
}

.ide_content.func_repl {
  border-color: #5d4287;
}

.ide_content.func_f {
  border-color: #40836a;
}

.ide_content.func_g {
  border-color: #86713f;
}
.ide_content.func_h {
  border-color: #874845;
}